{#
/**
 * @file
 * Displays links to the other Drupal content for a board
 *
 * Available variables
 * - committee:   JSON object from OnBoard containing committee information
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2018 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
#}
<div>
    {% set year  = 'now'|date('Y') %}
    <a href="{{ path('onboard.meetingList.node-'~nid, {'node':nid, 'year':year}) }}" class="button">Meetings</a>
    {% if committee.info.calendarId %}
    <a href="https://calendar.google.com/calendar/embed?src={{ committee.info.calendarId }}&amp;ctz=America/New_York" class="button">Calendar</a>
    {% endif %}
    {% if committee.info.videoArchive %}
    <a href="{{ committee.info.videoArchive }}" class="button">Videos</a>
    {% endif %}
    {% if committee.info.legislative %}
    <a href="{{ path('onboard.legislationTypes.node-'~nid, {'node': nid}) }}" class="button">Legislation</a>
    {% endif %}
</div>
